.ripple {
    position: absolute;
    border-radius: 50%;
    border: 2px solid rgba(209, 80, 52, .6);
    overflow: hidden;
    box-sizing: border-box;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: ripple 3s ease-out infinite;
    background: radial-gradient(rgba(208, 47, 54, .62), rgba(222, 119, 28, .62));
    border: 1px solid rgba(209, 80, 52, .6);
    box-sizing: border-box;
}

.circle:nth-child(1) {animation-delay: 1s}
.circle:nth-child(2) {animation-delay: 2s}
.circle:nth-child(3) {animation-delay: 3s}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
    background: rgba(222, 119, 28, .5);
  }

  50%{
    background: rgba(222, 119, 28, .5);
  }

  100% {
    transform: scale(2);
    background: rgba(222, 119, 28, .1);
    opacity: 1;
  }
}



/*.outer {
    margin: auto;
    margin-top: 5rem;
    background-color: rgb(255, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    border: 1px solid rgb(255, 103, 81);
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    margin: auto;
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    position: relative;
    z-index: 100;
    background-color: rgb(255, 0, 0);

}
.middle::before,
.middle::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius: 50%;
  animation: ripple 1.5s ease-out infinite 0.5s;
  
}
.middle::after {
  animation: ripple 1.5s ease-out infinite 1.25s;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0px rgb(255, 0, 0, 0.5);

  }
  100% {
    box-shadow: 0 0 0 20px rgb(255, 0, 0, 0.5);

  }
}*/